header .menu_nav> .nav-item:nth-child(6)> .nav-link {
    color: #fcdc00;
}

main .banner {
    min-height: 780px;
    /* background: url(../assets/images/banner-2.jpeg) no-repeat scroll center center; */
    display: flex;
    align-items: center;
    background: #04091e;
    position: relative;
    z-index: -1;
}

main .bannerImage {
    background: url(../assets/images/banner-2.jpeg) no-repeat scroll center center;
    opacity: .5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

main .banner .bannerBody {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

main .banner .bannerBody .bannerContent {
    max-width: 700px;
    margin: auto;
    color: #fff;
    margin-top: 90px;
    text-align: center;
}

main .banner .bannerBody .bannerContent h2 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 66px;
    margin-bottom: 15px;
}

main .banner .bannerBody .bannerContent p {
    font-size: 16px;
    margin-bottom: 35px;
}

main .banner .bannerBody .bannerContent h2 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 66px;
    margin-bottom: 15px;
}

main .banner .bannerBody .bannerContent p {
    font-size: 16px;
    margin-bottom: 35px;
}

main .banner .bannerBody .bannerContent a {
    line-height: 40px;
    background: #fff;
    color: #222222;
    padding: 0px 38px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    transition: all 300ms linear 0s;
}

main .banner .bannerBody .bannerContent a:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #222222;
}