header .menu_nav>.nav-item:nth-child(6)>.nav-link {
    color: #fcdc00;
}

main .banner {
    min-height: 780px;
    /* background: url(../assets/images/banner-2.jpeg) no-repeat scroll center center; */
    display: flex;
    align-items: center;
    background: #04091e;
    position: relative;
    z-index: -1;
}

main .bannerImage {
    background: url(../assets/images/banner-2.jpeg) no-repeat scroll center center;
    opacity: .5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

main .banner .bannerBody {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

main .banner .bannerBody .bannerContent {
    max-width: 700px;
    margin: auto;
    color: #fff;
    margin-top: 90px;
    text-align: center;
}

main .banner .bannerBody .bannerContent h2 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 66px;
    margin-bottom: 15px;
}

main .banner .bannerBody .bannerContent p {
    font-size: 16px;
    margin-bottom: 35px;
}

main .banner .bannerBody .bannerContent h2 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 66px;
    margin-bottom: 15px;
}

main .banner .bannerBody .bannerContent p {
    font-size: 16px;
    margin-bottom: 35px;
}

main .banner .bannerBody .bannerContent a {
    line-height: 40px;
    background: #fff;
    color: #222222;
    padding: 0px 38px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    transition: all 300ms linear 0s;
}

main .banner .bannerBody .bannerContent a:hover {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #222222;
}

main .blogCategorie {
    background: #f9f9ff;
    padding-top: 80px;
}

main .blogCategorie .blogCategorieBody {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main .blogCategorie .blogCategorieBody .blogCategorieContent {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.blogCategorieContent .categories_post {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    cursor: pointer;
}

.blogCategorieContent .categories_post img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.blogCategorieContent .categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.categories_post:hover .categories_details {
    background: rgba(248, 182, 0, 0.85);
}

.blogCategorieContent .categories_post .categories_details a h5 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.blogCategorieContent .categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
    width: 100%;
    height: 1px;
}

.blogCategorieContent .categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}

main .blogArea {
    background: #f9f9ff;
    padding-top: 80px;
}

main .blogAreaBody {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main .blogAreaBody .blog_left_sidebar {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

main .blogAreaBody .blog_left_sidebar .blog_item {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


main .blogAreaBody .blog_left_sidebar .blog-pagination {
    padding-top: 25px;
    padding-bottom: 95px;
    justify-content: center;
    display: flex;
}

main .blogAreaBody .blog_left_sidebar .blog-pagination .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

main .blogAreaBody .blog_left_sidebar .blog-pagination .page-item {
    border: none;
}

.blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #8a8a8a;
    border: none;
    font-weight: 400;
}

.blog-pagination .page-link .lnr {
    font-weight: 600;
}

.page-item:first-child .page-link {
    margin-left: 0;
}

main .blogAreaBody .blog_left_sidebar .blog-pagination .page-item:first-child .page-link {
    border-radius: 0;
}

.blog-pagination .page-item.active .page-link {
    background-color: #fcdc00;
    border-color: transparent;
    color: #fff;
}