header .menu_nav .nav-item:nth-child(2) .nav-link {
  color: #fcdc00;
}

main {
  width: 100%;
}

main .banner {
  min-height: 400px;
  background: url(../assets/images/home-banner.jpg.jpeg) no-repeat scroll top center;
  display: flex;
  align-items: center;
}

main .banner .bannerBody {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

main .banner .bannerBody .bannerContent {
  text-align: center;
}

main .banner .bannerBody .bannerContent h2 {
  font-weight: bold;
  color: #fff;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  padding-top: 60px;
}

main .banner .bannerBody .bannerContent a {
  font-size: 14px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-right: 32px;
  position: relative;
}

main .banner .bannerBody .bannerContent a:hover {
  color: #fcdc00;
}

main .banner .bannerBody .bannerContent a:last-child {
  margin-right: 0px;
}

main .banner .bannerBody .bannerContent a:first-child::before {
  content: "\e87a";
  font-family: 'Linearicons-Free';
  position: absolute;
  right: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.area_galeria {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f9f9ff;
}

.area_galeria .botoes {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.area_galeria .botoes .botoesBody {
  background: #fff;
  text-align: center;
  margin-bottom: 80px;
}

.galeria_filter {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  justify-content: center;
  border: 1px solid #eeeeee;
}

.galeria_filter .active {
  background: #fcdc00;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.galeria_filter li {
  border-left: 1px solid #eeeeee;
  margin-right: -4px;
  display: inline-block;
}

.galeria_filter li:last-child {
  border-right: 1px solid #eeeeee;
  margin-right: 0px;
}

.galeria_filter li a {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  line-height: 48px;
  display: inline-block;
  padding: 0px 30px;
  margin: 0px;
}

.galeria_filter li a:hover {
  background: #fcdc00;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.galeria {
  /* height: 832.125px; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 32.5px;
  margin-left: 32.5px;
  display: flex;
  justify-content: center;
}

.galeriaBody {
  /* height: 832.125px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  max-width: 1170px;
}

.galeria .item_galeria {
  position: relative;
  overflow: hidden;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 22.5%;
  max-width: 262.5px;
  max-height: 308px;
}

.galeria .item_galeria:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.galeria .item_galeria:hover:before {
  opacity: 1;
}

.galeria .item_galeria:hover .hover_item .light {
  opacity: 1;
}

.galeria .item_galeria:hover .hover_item {
  bottom: 50%;
  transform: translateY(50%);
}

.galeria .item_galeria .hover_item h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

.galeria .item_galeria .hover_item .light {
  color: #fff;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.galeria .item_galeria img {
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
}

.galeria .item_galeria .hover_item {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.area_galeria .loadMore {
  margin-top: 80px;
  text-align: center;
}

.area_galeria .loadMore a {
  background: #fcdc00;
  border-radius: 0px;
  border: none;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 28px;
  line-height: 40px;
  transition: all 300ms linear 0s;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.area_galeria .loadMore a:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  color: #222222;
}