header {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
}

.headerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 16px;
  margin-left: 16px;
}

header .logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

header nav {
  display: flex;
  flex-basis: auto;
  align-items: center;
}

header .menu_nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

header .menu_nav .nav-item {
  margin-right: 43px;
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

header .menu_nav .nav-item:nth-child(1) .nav-link {
  color: #fcdc00;
}

header .menu_nav .nav-item:last-child {
  margin-right: 0;
}

.nav-item .nav-link {
  font: 500 12px / 80px "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 0px;
  display: inline-block;
}

header .dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0px;
  min-width: 200px;
  text-align: left;
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  visibility: hidden;
  display: block;
  border: none;
  padding: 0px;
  border-radius: 0px;
  float: none;
}

header .dropdown-toggle:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

header .navbar-right {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

header .navbar-right .search {
  margin-left: 30px;
  font-size: 12px;
  line-height: 60px;
  color: #fff;
}

.lnr-magnifier:before {
  content: "\e86f";
  font-weight: 600;
}

main {
  width: 100%;
}

main .banner {
  min-height: 600px;
  background: url(../assets/images/home-banner.jpg.jpeg) no-repeat scroll center
    center;
  display: flex;
  align-items: center;
}

main .banner .bannerBody {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

main .banner .bannerBody .bannerContent {
  background: #000;
  max-width: 555px;
  margin: auto;
  padding: 45px 60px;
  color: #fff;
  text-align: center;
}

main .banner .bannerBody .bannerContent h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

main .banner .bannerBody .bannerContent p {
  margin-bottom: 0px;
  margin-top: 0;
}

main .banner .bannerBody .bannerContent a {
  background: #fcdc00;
  border-radius: 0px;
  border: none;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 28px;
  line-height: 40px;
  transition: all 300ms linear 0s;
  margin-bottom: -110px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

main .banner .bannerBody .bannerContent a:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  color: #222222;
}

.area_galeria {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f9f9ff;
}

.area_galeria .botoes {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.area_galeria .botoes .botoesBody {
  background: #fff;
  text-align: center;
  margin-bottom: 80px;
}

.galeria_filter {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  justify-content: center;
  border: 1px solid #eeeeee;
}

.galeria_filter .active {
  background: #fcdc00;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.galeria_filter li {
  border-left: 1px solid #eeeeee;
  margin-right: -4px;
  display: inline-block;
}

.galeria_filter li:last-child {
  border-right: 1px solid #eeeeee;
  margin-right: 0px;
}

.galeria_filter li a {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  line-height: 48px;
  display: inline-block;
  padding: 0px 30px;
  margin: 0px;
}

.galeria_filter li a:hover {
  background: #fcdc00;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.galeria {
  /* height: 832.125px; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 32.5px;
  margin-left: 32.5px;
  display: flex;
  justify-content: center;
}

.galeriaBody {
  /* height: 832.125px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  max-width: 1170px;
}

.galeria .item_galeria {
  position: relative;
  overflow: hidden;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 22.5%;
  max-width: 262.5px;
  max-height: 308px;
}

.galeria .item_galeria:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.galeria .item_galeria:hover:before {
  opacity: 1;
}

.galeria .item_galeria:hover .hover_item .light {
  opacity: 1;
}

.galeria .item_galeria:hover .hover_item {
  bottom: 50%;
  transform: translateY(50%);
}

.galeria .item_galeria .hover_item h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  margin-bottom: 0.5rem;
}

.galeria .item_galeria .hover_item .light {
  color: #fff;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.galeria .item_galeria img {
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
}

.galeria .item_galeria .hover_item {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.area_galeria .loadMore {
  margin-top: 80px;
  text-align: center;
}

.area_galeria .loadMore a {
  background: #fcdc00;
  border-radius: 0px;
  border: none;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 28px;
  line-height: 40px;
  transition: all 300ms linear 0s;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.area_galeria .loadMore a:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  color: #222222;
}

.clientFeedback {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #fcdc00;
  position: relative;
}

.clientFeedbackBody {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.contentFeedback {
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
}

.contentFeedbackText {
  max-width: 430px;
  margin-top: 44px;
}

.contentFeedbackText h4 {
  font-size: 36px;
  font-weight: bold;
  color: #222222;
  font-family: "Poppins", sans-serif;
  margin-bottom: 18px;
  line-height: 1.5em;
  margin-top: 0;
}

.contentFeedbackText p {
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

.feedBackClient {
  padding: 40px 45px 40px 40px;
  background: #ffffff;
  display: flex;
  flex: 0 0 50%;
}

.foto {
  padding-right: 30px;
}

.comment p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  margin-bottom: 17px;
}

.comment h4 {
  font-weight: bold;
  color: #222222;
  font-size: 18px;
  margin-bottom: 8px;
}

.comment h6 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #777777;
  margin-bottom: 0px;
}

.whyBest {
  padding-top: 120px;
  padding-bottom: 120px;
}

.whyBestBody {
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.whyBestTitle {
  text-align: center;
  margin-bottom: 75px;
}

.whyBestTitle h2 {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.whyBestTitle p {
  font-size: 14px;
  color: #777777;
  font-weight: 300;
  margin-bottom: 0px;
}

.whyBestContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.whyBestContent .service_item {
  flex: 0 0 33%;
  max-width: 290px;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  border: 1px solid #eeeeee;
  padding: 40px;
}

.whyBestContent .service_item h4 {
  color: #222222;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.whyBestContent .service_item p {
  margin-bottom: 0px;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}

.instagramAreaBody {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.followUs {
  text-align: center;
  padding-bottom: 80px;
}

.followUs a {
  line-height: 60px;
  padding: 0px 28px;
  background: #fcdc00;
  border-radius: 0px;
  border: none;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms linear 0s;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.followUs a:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  color: #222222;
}

.instagram_images {
  display: flex;
}

.instagram_images a {
  -webkit-box-flex: 0;
  flex: 0 0 16.667%;
  max-width: 16.667%;
  display: block;
  overflow: hidden;
}

.instagram_images a img {
  width: 100%;
  transition: all 300ms ease;
  vertical-align: middle;
  border-style: none;
}

footer {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #04091e;
}

.footerBody {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.footerBody .aboutMe,
.footerBody .newsLetter,
.footerBody .followMe {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.footerBody div aside .asideTitle {
  margin-bottom: 35px;
}

.footerBody div aside h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

.footerBody div .about_group p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  margin-bottom: 30px;
}

.footerBody div .about_group p a {
  color: #fcdc00;
}

.footerBody div .news_group p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  margin-bottom: 15px;
}

.footerBody div .news_group form {
  width: 100%;
}

.footerBody div .news_group form .input-group {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: stretch;
}

.footerBody div .news_group input {
  height: 40px;
  background: #f9f9ff;
  border-radius: 0px;
  border: none;
  padding: 0px 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #cccccc;
  font-weight: 300;
  margin: 0;
  flex-grow: 100%;
  flex-shrink: 1;
  flex-basis: 100%;
}

.footerBody div .news_group input::placeholder {
  color: #cccccc;
}

.footerBody div .news_group button {
  border-radius: 0px;
  background: #fcdc00;
  outline: none;
  box-shadow: none;
  padding: 0px;
  width: 42px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.footerBody div .follow_group p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #777777;
  margin-bottom: 10px;
}

.footerBody div .follow_group ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footerBody div .follow_group ul li {
  margin-right: 17px;
  display: inline-block;
}

.footerBody div .follow_group ul li a {
  color: #cccccc;
  font-size: 14px;
  transition: all 300ms linear 0s;
}

.footerBody div .follow_group ul li:hover a {
  color: #fcdc00;
}
